body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #34495e;
    font-size: 20px;
  }
  
  
  @media all and (max-width: 980px) {
   
   header{
    
    width: 100%;
  
  
    }
  
    .abc{
      width:10px;
    }
  
  }
  
  h2{
    color:#e76f51;
  }
  
  .heading {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: xx-large;
    /* color: #e76f51; */
    /* display:flex;
    text-align: center; */
  }
  
  .abc {
    background-color: white;
    color: purple;
    padding: 12px 20px;
    /* margin: auto;  */
    margin: 20px auto;  
    width: 250px;
    height: 35px;
    border-color: white;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* .buttondiv
  {
    padding: 30px 20px 20px 450px;
    
    margin: 0 auto;
  } */
  
  .header {
    background-image: url('https://images.unsplash.com/photo-1484584343816-b22e89904ab2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');
    background-size: cover;
    background-repeat: no-repeat;
  
    padding-top: 28px;
    color: white;
  }
  
  .placeholder {
    color: gray;
  }
  
  .body-flex
  {
    display: flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
     flex-direction: column;
    justify-content: space-between;
     align-items: center;
    background-color: #264653;
    width: 350px;
    height:250px;
    margin: 20px auto;  
    
  }
  
  .logic {
     background-color: #2a9d8f; 
    min-height: 500px;
    display: flex;
    align-items: center;
  
  }
  
  .flex-reg
  {
    display: flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
     flex-direction: column;
    justify-content: space-between;
     align-items: center;
    /* flex-flow: row wrap;
  
    /* Then we define how is distributed the remaining space */
    /* justify-content: space-around; */ 
  }
  
  .flex-head
  {
    display: flex;
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    align-items: center;
  
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
  }
  
  
  .flex-btn
  {
    display: flex;
  
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
  
    align-items: center;
  
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
  }
  
  .footer-para {
    color:purple;
    margin: auto;
    text-align: center;
  }
  
  .footer {
    background-image: url('https://images.unsplash.com/photo-1484584343816-b22e89904ab2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');
    background-size: cover;
    background-repeat: no-repeat;                                                             
    color: white;
    height: 100px;
  }
  
  /* .abc::after {
    background-color: grey;
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
  } */
  
  .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-style: bold;
    /* padding: 20px; */
    margin: 0 auto;  
    width: 250px;
    height: 35px;
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 5px; */
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  #color {
    min-height: 40px; 
    border: 1px solid black; 
    background-color:#000000; 
    width: 40px;
  }
  
  
  .op {
    background-color: white;
    color:purple;
    /* padding: 3px 3px 3x 200px;
    margin: 60px 16px 8px 20px; */
    padding: 12px 20px;
    /* margin: auto;  */
    margin: 20px auto;  
    width: 250px;
    height: 75px;
    border-color: white; 
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
  }
  
  .button {
    /* it starts here       */
    background-color: #aa1d2f;
    color: wheat;
    padding: 6px 6px;
    text-decoration: solid;     
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    /* margin-left: 30px; */
    margin-top: 14px;
    margin-bottom: 18px;
  }
  
  a {
    text-decoration: none;
    color: #3498db;
  }
  
  .heading {
    text-align: center;
    color: purple;
  }
  
  .header-div-1 {
    width: 1200px;
    margin: 0 auto;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover , .dropdown:hover .dropbtn {
    background-color: purple;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  